* 점포 별 판매량 추이를 그래프로 표현!
* 상품의 종류를 나누어 표현!
* 가장 많이 팔린 점포만 확인!

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.rc('font', family='Malgun Gothic')

In [2]:
df1 = pd.read_csv('Data09.csv', encoding='cp949')
print(df1.shape)
df1.head(10)

(117, 646)

,순번,상품코드,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,NaN,NaN,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,NaN,NaN,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
2,1.0,1.801828e+06,BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,...,0,25,76,72,54,72,15,38,27,89
3,2.0,1.801859e+06,BW1 355ml (낱캔),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.0,4.078618e+07,RB 500ml,"2,158",4,9,10,27,0,11,...,0,0,0,0,0,0,0,0,0,0
5,4.0,4.100136e+07,VX 500ml,"3,649",14,0,17,35,20,2,...,0,0,0,0,0,0,0,0,0,0
6,5.0,8.800532e+07,CAT2 500ml,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,6.0,1.820000e+10,BW1 473ml(알루미늄)_2018 Worldcup,"47,934",258,42,664,700,810,743,...,0,0,0,0,0,0,0,0,0,0
8,7.0,1.820025e+10,BW1 740ml,"40,381",651,202,220,145,530,73,...,0,11,103,36,15,21,26,10,29,123
9,8.0,1.820097e+10,BW1 473ml*24캔 ALU,55,0,0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df1.columns

Index(['순번', '상품코드', '상품명', ' 합계', '(1154)의정부점', '(1155)별내점', '(1156)풍산점',
       '(1157)김포한강점', '(1158)세종점', '(1159)킨텍스점',
       ...
       '(L21)위시티점', '(L23)걸포동점', '(L27)통일동산점', '(L35)성대점', '(L36)병점점',
       '(L38)율전점', '(L39)본오점', '(L40)검암점', '(L44)신길점', '(L46)용호점'],
      dtype='object', length=646)

In [4]:
df1.drop(columns=['순번', '상품코드'])

,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,(1160)광교점,(1161)과천점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,수량,수량,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062","11,666","2,928",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
2,BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,234,78,...,0,25,76,72,54,72,15,38,27,89
3,BW1 355ml (낱캔),1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,RB 500ml,"2,158",4,9,10,27,0,11,14,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,CAT1 355ml*12캔+카카오 에코백+치,179,0,9,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,CAT2 355*24캔 + 진라면 6캔,212,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
114,CAT2 1.6L*6,"6,564",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,CAT2 1.6L,"125,144",365,564,796,948,594,283,401,280,...,241,196,379,120,273,128,354,106,242,122
116,CAT1 1.6L,"22,796",113,101,168,93,107,50,256,78,...,36,14,80,29,42,54,28,9,28,24

In [5]:
df1.drop(columns=['순번', '상품코드']).stack()

0     합계            수량
     (1154)의정부점     수량
     (1155)별내점      수량
     (1156)풍산점      수량
     (1157)김포한강점    수량
                    ..
116  (L38)율전점       54
     (L39)본오점       28
     (L40)검암점        9
     (L44)신길점       28
     (L46)용호점       24
Length: 75347, dtype: object

In [6]:
stack_data = df1.drop(columns=['순번', '상품코드']).set_index('상품명').stack() # 상품명을 인덱스로 보내야만 상품명이 보이지 이렇게 인덱스를 설정안하면 상품명이 뭔지 모르게 된다.

In [7]:
pd.DataFrame(stack_data).reset_index()

             상품명      level_1   0
0            NaN           합계  수량
1            NaN   (1154)의정부점  수량
2            NaN    (1155)별내점  수량
3            NaN    (1156)풍산점  수량
4            NaN  (1157)김포한강점  수량
...          ...          ...  ..
75226  CAT1 1.6L     (L38)율전점  54
75227  CAT1 1.6L     (L39)본오점  28
75228  CAT1 1.6L     (L40)검암점   9
75229  CAT1 1.6L     (L44)신길점  28
75230  CAT1 1.6L     (L46)용호점  24

[75231 rows x 3 columns]

# Pandas Melt

In [8]:
region_list = df1.columns.tolist()[4:]

In [9]:
pd.melt(df1, id_vars=['상품명'], value_vars=region_list)

                            상품명    variable  value
0                           NaN  (1154)의정부점     수량
1                           합 계  (1154)의정부점  6,829
2                BW1 473ml캔(수입)  (1154)의정부점    174
3                BW1 355ml (낱캔)  (1154)의정부점      0
4                      RB 500ml  (1154)의정부점      4
...                         ...         ...    ...
75109  CAT1 355ml*12캔+카카오 에코백+치    (L46)용호점      0
75110     CAT2 355*24캔 + 진라면 6캔    (L46)용호점      0
75111               CAT2 1.6L*6    (L46)용호점      0
75112                 CAT2 1.6L    (L46)용호점    122
75113                 CAT1 1.6L    (L46)용호점     24

[75114 rows x 3 columns]

# Python Dash / Plotly

* Python -> Web: Django / Flask
* react.js / falsk -> Dash / Plotly
    - Data 시각화 App을 간단한 형태의 웹 브라우저 형태로 만들 수 있다.

In [10]:
!pip install --user plotly

Requirement already satisfied: plotly in c:\users\sanghyun yun\anaconda3\lib\site-packages (5.9.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [11]:
!pip install --user dash

Requirement already satisfied: dash in c:\users\sanghyun yun\appdata\roaming\python\python39\site-packages (2.14.2)
Requirement already satisfied: Werkzeug<3.1 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from dash) (2.0.3)
Requirement already satisfied: requests in c:\users\sanghyun yun\anaconda3\lib\site-packages (from dash) (2.28.1)
Requirement already satisfied: nest-asyncio in c:\users\sanghyun yun\anaconda3\lib\site-packages (from dash) (1.5.5)
Requirement already satisfied: importlib-metadata in c:\users\sanghyun yun\anaconda3\lib\site-packages (from dash) (4.11.3)
Requirement already satisfied: typing-extensions>=4.1.1 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from dash) (4.3.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\sanghyun yun\appdata\roaming\python\python39\site-packages (from dash) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\sanghyun yun\appdata\roaming\python\python39\site-packages (from dash) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\sanghyun yun\appdata\roaming\python\python39\site-packages (from dash) (5.0.0)
Requirement already satisfied: Flask<3.1,>=1.0.4 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from dash) (1.1.2)
Requirement already satisfied: retrying in c:\users\sanghyun yun\appdata\roaming\python\python39\site-packages (from dash) (1.3.4)
Requirement already satisfied: setuptools in c:\users\sanghyun yun\anaconda3\lib\site-packages (from dash) (63.4.1)
Requirement already satisfied: ansi2html in c:\users\sanghyun yun\appdata\roaming\python\python39\site-packages (from dash) (1.9.1)
Requirement already satisfied: plotly>=5.0.0 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from dash) (5.9.0)
Requirement already satisfied: click>=5.1 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash) (8.0.4)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash) (2.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from Flask<3.1,>=1.0.4->dash) (2.11.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from plotly>=5.0.0->dash) (8.0.1)
Requirement already satisfied: zipp>=0.5 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from importlib-metadata->dash) (3.8.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from requests->dash) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from requests->dash) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from requests->dash) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from requests->dash) (3.3)
Requirement already satisfied: six>=1.7.0 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from retrying->dash) (1.16.0)
Requirement already satisfied: colorama in c:\users\sanghyun yun\anaconda3\lib\site-packages (from click>=5.1->Flask<3.1,>=1.0.4->dash) (0.4.5)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\sanghyun yun\anaconda3\lib\site-packages (from Jinja2>=2.10.1->Flask<3.1,>=1.0.4->dash) (2.0.1)

In [12]:
import plotly.express as px

In [14]:
df1

,순번,상품코드,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,NaN,NaN,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,NaN,NaN,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
2,1.0,1.801828e+06,BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,...,0,25,76,72,54,72,15,38,27,89
3,2.0,1.801859e+06,BW1 355ml (낱캔),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.0,4.078618e+07,RB 500ml,"2,158",4,9,10,27,0,11,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,111.0,8.801860e+12,CAT1 355ml*12캔+카카오 에코백+치,179,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,112.0,8.801860e+12,CAT2 355*24캔 + 진라면 6캔,212,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114,113.0,8.801860e+12,CAT2 1.6L*6,"6,564",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
115,114.0,8.801860e+12,CAT2 1.6L,"125,144",365,564,796,948,594,283,...,241,196,379,120,273,128,354,106,242,122
116,115.0,8.801860e+12,CAT1 1.6L,"22,796",113,101,168,93,107,50,...,36,14,80,29,42,54,28,9,28,24

In [13]:
fig = px.bar(df1, x='점포명', y='판매량(int)', color='제품군')
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['순번', '상품코드', '상품명', ' 합계', '(1154)의정부점', '(1155)별내점', '(1156)풍산점', '(1157)김포한강점', '(1158)세종점', '(1159)킨텍스점', '(1160)광교점', '(1161)과천점', '(1162)김해터미널점', '(1163)의왕점', '(1164)광주점', '(1408)E/T양산점', '(1409)E/T수원점', '(1410)E/T킨텍스점', '(1412)E/T스타필드하남점', '(1413)E/T스타필드고양점', '(1414)E/T군포점', '(1415)E/T김포점', '(1416)E/T스타필드위례점', '(1417)E/T월계점', '(1418)E/T스타필드부천점', '(1419)E/T스타필드명지점', '(150)E/T구성점', '(151)E/T송림점', '(152)E/T월평점', '(153)E/T서면점', '(154)E/T비산점', '(155)E/T안산점', '(156)E/T천안점', '(1600)NB용인보라점', '(1602)NB스타필드하남점', '(1603)NB용인신봉점', '(1604)NB의정부민락점', '(1605)NB은평진관점', '(1606)NB남양주호평점', '(1607)NB수원화서점', '(1608)NB인천논현점', '(1609)NB수원이의점', '(1611)NB파주동패점', '(1612)NB안양평촌점', '(1613)NB김포장기점', '(1614)NB강남삼성점', '(1615)NB부산하단아트몰링점', '(1616)NB고양행신점', '(1617)NB대전탄방점', '(1619)NB송파문정점', '(1620)NB대전관저점', '(1621)NB용인동천점', '(1622)NB남양주화도점', '(1623)NB시흥아웃렛점', '(1624)NB광명소하점', '(1625)NB강서가양점', '(1626)NB평택비전점', '(1627)NB청주사천점', '(1628)NB인천서창점', '(1629)NB세종소담점', '(1630)NB판교운중점', '(1631)NB고양풍동점', '(1632)NB화성능동점', '(1633)NB수원천천점', '(1634)NB세종아름점', '(1635)NB동대문장안점', '(1637)NB울산달동점', '(1638)NB대전세이점', '(1641)NB강남터미널점', '(1642)NB파주와동점', '(1643)NB수원망포점', '(1644)NB구미선산시장점', '(1645)NB남양주오남점', '(1648)NB용인상현점', '(1649)NB의정부녹양점', '(1651)NB평택청북점', '(1652)NB고양도내점', '(1653)NB화성봉담점', '(1654)NB용인죽전점', '(1655)NB양주덕정점', '(1656)NB화성향남점', '(1657)NB포천소흘점', '(1658)NB스타필드고양점', '(1660)NB천안신방점', '(1661)NB오산금암점', '(1662)NB성남위례점', '(1663)NB울산신천점', '(1664)NB천안불당점', '(1665)NB김천율곡점', '(1666)NB강남세곡점', '(1667)NB진주충무공점', '(1668)NB이천안흥점', '(1669)NB원주반곡점', '(1670)NB시흥목감점', '(1671)NB원주무실점', '(1672)NB강남서초점', '(1673)NB나주빛가람점', '(1674)NB원주단구점', '(1675)NB영등포양평점', '(1676)NB의정부민락2점', '(1677)NB강남역삼점', '(1678)NB홍성홍북점', '(1679)NB양산물금점', '(1680)NB화성반월점', '(1681)NB안성공도점', '(1682)NB여주한글시장점', '(1683)NB영등포여의도점', '(1685)NB동대문두타몰점', '(1686)NB화성반송점', '(1687)NB대전가오점', '(1688)NB고양신원점', '(1689)NB서울서초G5점', '(1690)NB대전죽동점', '(1691)NB경산정평점', '(1692)NB서초방배점', '(1693)NB평택비전2점', '(1694)NB양주옥정점', '(1695)NB세종나성점', '(1696)NB대전지족점', '(1697)NB김해진영점', '(1698)NB용인청덕점', '(1699)NB남양주별내점', '(1702)PK청담점', '(1704)PK마켓SF하남점', '(1705)PK마켓SF고양점', '(1706)PKM STF위례점', '(1708)피코크STF부천점', '(175)역삼점', '(177)화정점', '(181)중동점', '(182)계양점', '(183)평촌점', '(184)감삼점', '(185)마산점', '(186)이동점', '(200)창동점', '(2028)우면점', '(2029)목동중앙점', '(2030)구로점', '(2031)상계점', '(2032)방배효령점', '(2033)죽전점', '(2034)신내점', '(2035)내곡점', '(210)일산점', '(2127)도봉점', '(2129)아산배방점', '(2133)천안성거점', '(2135)세종종촌점', '(2136)대전관저점', '(2137)아산공수점', '(2139)대전월평점', '(2224)풍무2점', '(2227)경서점', '(2229)장현점', '(2231)서창2점', '(2232)호구포역점', '(2235)마전점', '(2321)분당정자2', '(2322)기흥점', '(2323)망포점', '(2324)영통점', '(2325)오포점', '(2326)정관점', '(2328)보정점', '(2330)서판교점', '(2331)구미구평점', '(2332)부산신호점', '(2333)서천점', '(2335)김천혁신점', '(2336)양산물금점', '(2337)대구죽곡점', '(240)제주점', '(2420)탄현역점', '(2421)고양삼송점', '(2423)김포한강점', '(2424)고촌2점', '(2425)김포양곡점', '(2426)고양삼송2점', '(2427)신동백점', '(250)분당점', '(2522)삼숭2점', '(2523)신곡점', '(2524)남양주도곡점', '(2525)의정부장암점', '(2526)의정부민락점', '(2527)별내점', '(2529)세종아름점', '(2530)아산장재점', '(2533)천안차암점', '(2534)세종도담점', '(2535)나주혁신점', '(2536)홍성내포점', '(260)남원점', '(2618)동천점', '(2619)구미봉곡점', '(2620)관저효성점', '(2621)세종가락점', '(2622)자곡점', '(2624)나주호수공원점', '(2625)이천갈산점', '(2627)북천안점', '(2628)세종고운점', '(2629)세종소담점', '(2630)대구현풍점', '(2631)하남미사점', '(2632)구리갈매점', '(2633)시흥배곧점', '(2635)대구옥포점', '(2636)평내점', '(2637)세곡점', '(2638)송도호반점', '(2640)세종중흥점', '(2642)세종캐슬점', '(2643)마곡점', '(2644)세종메이저점', '(2646)세종이지더원점', '(2648)신곡풍림점', '(2649)양산석산점', '(2650)천안불당점', '(2651)오포신현점', '(2652)동탄카림점', '(2653)부산구포점', '(2655)세종다정점', '(2657)오포신현2점', '(2658)김해율하점', '(2659)역삼점', '(2660)창원사림점', '(2661)마두역점', '(2662)평택비전점', '(2663)홍성남장점', '(2664)세종신동아점', '(2666)미사퀸즈점', '(2667)부천옥길점', '(2668)명지SF점', '(2669)성내점', '(2671)대구서재점', '(2672)김해율하2점', '(2673)당진점', '(2674)동탄호수점', '(2710)F궁내점', '(2735)F보령신흑점', '(2738)F포항학천점', '(2739)F포항양덕점', '(2741)F영주가흥점', '(2743)F대구신서점', '(2746)F금곡점', '(2747)F산본점', '(2753)F석수점', '(2756)F능평점', '(2757)F양천향교역점', '(2761)F김포구래점', '(2762)F경주용강점', '(2763)F창원북면점', '(2764)F오션시티점', '(2765)F영흥도점', '(2766)F귤현점', '(2769)F양산덕계점', '(2770)F불로점', '(2771)F세류점', '(2887)신탄진점', '(2890)용방점', '(290)김천점', '(300)동광주점', '(310)청주점', '(320)전주점', '(330)원주점', '(340)구로점', '(350)성서점', '(360)산본점', '(370)천호점', '(380)가양점', '(390)해운대점', '(400)상봉점', '(4000)NB군포당동TR점', '(4001)NB김포풍무TR점', '(4003)NB부산다대점', '(4004)NB충주중앙탑점', '(4005)NB양산물금2점', '(4006)NB예천호명점', '(4007)NB시흥정왕점', '(4008)NB부천상동점', '(4009)NB마리오아울렛점', '(4012)NB하남미사1동점', '(4013)NB남양주퇴계원점', '(4014)NB하남미사2동점', '(4015)NB대전문지점', '(4016)NB남양주진접점', '(4017)NB아산배방점', '(4018)NB인천마전점', '(4019)NB화성진안점', '(4020)NB강남한티역점', '(4021)NB대전둔산점', '(4022)NB익산부송점', '(4023)NB수원호매실점', '(4026)NB엔터식스한양대점', '(4028)NB아산둔포점', '(4029)NB용인성복점', '(4030)NB천안백석점', '(4031)NB천안신방2점', '(4032)NB서울경동시장점', '(4033)NB인천청라점', '(4034)NB수원오목천점', '(4035)NB부산아웃렛점', '(4037) NB의왕포일점', '(4038)NB구리인창점', '(4040)NB남양주화도2점', '(4042)NB평택중앙로점', '(4044)NB남양주도곡점', '(4045)NB동탄더블루점', '(4047)NB안산고잔점', '(4048)NB인천가정점', '(4049)NB평택송담점', '(4050)NB천안청당점', '(4051)NB대전용계점', '(4052)NB인천원창점', '(4053)NB오산수청점', '(4061)NB구리갈매점', '(4062)NB대전가수원점', '(4063)NB창원대동점', '(4064)NB진주초전점', '(4068)NBR강남대치역점', '(4069)NB의정부신곡점', '(4070)NB대전유성온천점', '(4071)NB대전노은점', '(4072)NBR인천원당점', '(4073)NB파주목동동점', '(4074)NBR김포운양점', '(4075)NB김포장기청송점', '(4076)NBR대전관평점', '(4078)NB화성남양점', '(4079)NBR인천청라스퀘어점', '(4082)NBR울산성남점', '(4084)NB대구월배시장점', '(4085)NBR양주LF점', '(4088)NBR보령동대점', '(4089)NBR인천송도점', '(4090)NBR강서마곡점', '(4091)NBR오산갈곶동점', '(4092)NBR용인삼가점', '(4093)NBR고양마두점', '(4095)NBR화성동탄리치안점', '(4097)NBR광주초월점', '(4098)NBR화성수원대점', '(410)이천점', '(4100)NBR인천논현역점', '(4101)NBR부천상동역점', '(4102)NBR서산예천점', '(4103)NBR대전판암점', '(4107)NBR인천송도센트럴점', '(4108)NBR화성향남행정점', '(4109)NBR고양정발산점', '(4110)NBR김해구산점', '(4111)NBR인천심곡점', '(4112)NBR화성동탄자이점', '(4113)NBR부천중동점', '(4115)NBR평택동삭점', '(4117)NBR남양주평내점', '(4118)NBR서대문신촌점', '(4120)NBR광명역점', '(4121)NBR평택용이점', '(4122)NBR노원상계점', '(4123)NBR남양주다산점', '(4124)NBR공주신관동점', '(4125)NBR대전중촌동점', '(4126)NBR화성반송2점', '(4127)NBR성남여수점', '(4128)NBR수원호매실2점', '(4129)NBR하남천현점', '(4130)NBR의정부호원점', '(4131)NBR인천마전2점', '(4132)NBR성남이매2점', '(4133)NBR노원중계점', '(4134)NBR인천불로동점', '(4135)NBR파주야당점', '(4136)NBR용인구갈점', '(4137)NBR고양위시티점', '(4138)NBR구미진평점', '(4139)NBR천안용곡점', '(4140)NBR수원영통역점', '(4141)NBR위례STF점', '(4142)NBR평택서정점', '(4143)NBR원주지정점', '(4144)NBR광주태전점', '(4145)NBR화성동탄장지점', '(4146)NBR논산내동점', '(4147)NBR대전갈마점', '(4148)NBR당진원당점', '(4149)NBR안산이동점', '(4150)NBR파주다율점', '(4151)NBR수원호매실3점', '(4153)NBR통영광도점', '(4154)NBR양주광사점', '(4155)NBR부천상이동점', '(4156)NBR울산방어점', '(4157)NBR홍성남장점', '(4160)NBR일산주엽점', '(4161)NBR세종조치원점', '(4162)NBR삼척중앙시장점', '(4163)NBR부천옥길STF점', '(4164)NBR파주아울렛점', '(4165)NBR울산삼산점', '(4166)NBR대전산성시장점', '(4167)NBR장승백이시장점', '(4168)NBR문경중앙시장점', '(4169)NBR주문진시장점', '(420)진주점', '(430)목포점', '(440)동인천점', '(450)만촌점', '(4500)NBFC군포산본역점', '(4501)NBFC울산무거점', '(4502)NBFC진해용원점', '(4503)NBFC전주송천점', '(4504)NBFC전주삼천점', '(4505)NBFC군산미장점', '(4507)NBFC대구유가점', '(4508)NBFC대구현풍점', '(4509)NBFC울산유곡점', '(4510)NBFC구미확장점', '(4511)NBFC인천당하점', '(4513)NBFC대구봉무점', '(4514)NBFC경산사동점', '(4515)NBFC마산현동점', '(4516)NBFC진천덕산점', '(4517)NBFC춘천점', '(4518)NBFC안동옥동점', '(4519)NBFC진해자은점', '(4520)NBFC대전관저2점', '(4521)NBFC강릉교동점', '(4522)NBFC천안성성점', '(4523)NBFC경산백천점', '(4524)NBFC대구매천점', '(4525)NBFC문경모전점', '(4526)NBFC칠곡왜관점', '(4527)NBFC진해풍호점', '(4528)NBFC진주MBC점', '(4529)NBFC대구사수점', '(4530)NBFC대구학정점', '(4531)NBFC대구세천점', '(4532)NBFC경주용강점', '(4533)NBFC인천청학점', '(4534)NBFC김포풍무점', '(4535)NBFC울산범서점', '(4536)NBFC고양행신중앙점', '(4537)NBFC포항초곡점', '(4538)NBFC포항양덕점', '(4539)NBFC대전가오2점', '(4540)NBFC구미송정점', '(4541)NBFC속초조양점', '(4542)NBFC 충주호암', '(4543)NBFC대구옥포점', '(4544)NBFC대구율하점', '(4545)NBFC원주단계점', '(460)군산점', '(470)성수점', '(480)월배점', '(490)천안점', '(520)수원점', '(530)충주점', '(540)평택점', '(550)은평점', '(560)여수점', '(570)포항점', '(580)연제점', '(590)칠성점', '(600)안양점', '(601)시화점', '(610)부천점', '(620)둔산점', '(630)구미점', '(631)신월점', '(633)수서점', '(640)창원점', '(650)명일점', '(660)연수점', '(680)강릉점', '(690)고잔점', '(700)문현점', '(710)금정점', '(720)수지점', '(730)신제주점', '(740)속초점', '(750)사상점', '(760)울산점', '(770)동해점', '(780)영천점', '(790)광산점', '(800)양주점', '(810)양산점', '(820)파주점', '(830)반야월점', '(840)월계점', '(850)용산점', '(860)안동점', '(870)양재점', '(880)인천공항점', '(890)통영점', '(900)순천점', '(910)춘천점', '(920)서수원점', '(930)죽전점', '(931)남양주점', '(932)오산점', '(933)용인점', '(934)서귀포점', '(935)경산점', '(936)동백점', '(937)익산점', '(938)검단점', '(939)아산점', '(940)태백점', '(941)자양점', '(942)광명점', '(943)상주점', '(944)봉선점', '(945)신도림점', '(946)여주점', '(947)동탄점', '(948)여의도점', '(949)도농점', '(950)하남점', '(951)청계천점', '(952)왕십리점', '(953)보령점', '(954)안성점', '(955)미아점', '(956)보라점', '(958)이문점', '(959)목동점', '(960)흥덕점', '(961)영등포점', '(962)경기광주점', '(963)수색점', '(964)제천점', '(966)성남점', '(967)포천점', '(968)광명소하점', '(969)천안터미널', '(970)이수점', '(971)진접점', '(972)사천점', '(973)묵동점', '(974)가든5점', '(975)파주운정점', '(976)펜타포트점', '(977)대전터미널', '(978)동구미점', '(979)마포공덕점', '(980)서산점', '(981)하월곡점', '(983)화성봉담점', '(984)천안서북점', '(A01)상도동점', '(A02)대방동점', '(A03)가락동점', '(A04)봉천동점', '(A05)서초동점', '(A07)미아동점', '(A08)쌍문동점', '(A09)삼성동점', '(A12)암사동점', '(A16)풍무동점', '(A19)화곡동점', '(A23)장기동점', '(K01)흑석동점', '(K02)명일동점', '(K04)매탄동점', '(K05)목동점', '(K06)이매동점', '(K07)비산동점', '(K08)가양동점', '(K09)올림픽점', '(K10)성북동점', '(K11)사당동점', '(K12)중곡동점', '(K15)일곡동점', '(K17)하안동점', '(K19)보령점', '(K20)행신동점', '(K24)창동점', '(K26)당동점', '(K28)상현동점', '(K29)동림동점', '(K31)개봉동점', '(K33)공릉동점', '(K35)성주점', '(K37)형곡동점', '(K38)김해점', '(K39)면목동점', '(K41)하양점', '(K42)이천점', '(K48)답십리점', '(K50)번동점', '(K51)방촌동점', '(K52)법동점', '(K53)월피동점', '(K63)광사동점', '(K66)봉담2호점', '(K67)중계동점', '(K68)용현동점', '(K70)능동점', '(K71)청천동점', '(K73)서창동점', '(K74)삼숭동점', '(K75)분당정자점', '(K76)개포점', '(K77)덕정점', '(K79)신영통점', '(K80)남부터미널', '(K81)율하점', '(K82)고촌점', '(K86)연수점', '(K87)진량점', '(K90)포항연일점', '(K93)동양점', '(K95)가운점', '(K96)구미옥계점', '(K98)양재점', '(K99)작전점', '(L01)광탄점', '(L02)고양동점', '(L03)백석점', '(L04)관산동점', '(L06)팜스프링점', '(L07)봉일천점', '(L08)적성점', '(L09)통진점', '(L10)녹양동점', '(L11)신읍동점', '(L12)일산2호점', '(L15)법원점', '(L16)마북동점', '(L17)영북점', '(L18)탄현동점', '(L19)광릉점', '(L21)위시티점', '(L23)걸포동점', '(L27)통일동산점', '(L35)성대점', '(L36)병점점', '(L38)율전점', '(L39)본오점', '(L40)검암점', '(L44)신길점', '(L46)용호점'] but received: 점포명